* {
    box-sizing: border-box;
}

body {
    background-color: #F4F1E7;
    font-family: 'Work Sans';
    font-weight: 300;
    /* add sub fonts */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 165%;
    text-align: center;
    color: #507A55;
}

.compare-interface {
    padding: 40px;
}

.form {
    margin-bottom: 1rem;
}

/* trying to make the label under form a bit bigger with more margin below */
.form, label {
    display: inline-block;
    margin-bottom: 0.8rem;
    font-weight: 500;
    font-size: 1.1rem;
}

/* change button style */
.find-plant-btn {
    margin-bottom: 2rem;
    border: none;
    border-radius: 10px;
  }

.btn-primary {
    background-color: #507A55; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
}

.plant-container {
    margin: auto;
    width: 16rem;
}


.similar-info {
    font-weight: 400;
}


.cards-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.card {
    height: auto;
    aspect-ratio: 1 / 1;
    flex: 0 0 250px;
    margin: 0.5rem;
    border-radius: 10px;
    border: none;
    background: #FFFFFF;
    box-shadow: 5px 5px 2px rgba(81, 123, 86, 0.1);
    border-radius: 10px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  } 

  .card > img{
    width: 40%;
    height: auto;
    align-self: center;
    /* align-self is default to stretch */
}

.card > p{
    text-align: center;
    padding: 0 1rem 0 1rem;
    margin-bottom: 0;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    section {
        display: flex;
        justify-content: center;
    }

    .similarity-info {
        padding: 10rem 5rem 0 5rem;
    } 
}