* {
    box-sizing: border-box;
}

body {
    background-color: #F4F1E7;
    font-family: 'Work Sans';
    font-weight: 300;
    /* add sub fonts */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 165%;
    text-align: center;
    color: #507A55;
}

.compare-interface {
    padding: 40px;
}


/* change button style */
.find-plant-btn {
    background-color: #507A55; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

/*
.cards-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

@media (min-width: 992px) {
    main {
        display: flex;
    }

    body {
        background-color: darksalmon;
    }
}