/* media goes in here */
* {
    box-sizing: border-box;
}

body {
    background-color: #F4F1E7;
    font-family: 'Work Sans';
    font-weight: 300;
    /* add sub fonts */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 165%;
    text-align: center;
    color: #507A55;
}

.cards-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}