body{
    background-image: url('../img/home-background.png');
    background-color: #F4F1E7;
    font-family: 'Work Sans';
    font-weight: 300;
    /* add sub fonts */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 165%;
    text-align: center;
    color: #507A55;

}


nav{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

nav > * {
    margin: 2rem 5rem 2rem 5rem;
    font-size: 25px;
    text-decoration: none;
    color: #507A55;
    cursor: pointer;
}

nav > *:hover{
    color: red;
}


.filters{
    width: 50%;
    margin: 2rem auto 2rem auto;
}

.form-check-input{
    border-color: white;
    background-color: white;
}

.form-check-input:checked{
    border-color: #507A55;
    background-color: #507A55;
}

.project-name{
    font-weight: 600;
    font-size: 40px;
}

.tagline{
    font-weight: 500;
}

.checkbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0 20px 0;
}

.cards-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 33%;
    height: auto;
    aspect-ratio: 1 / 1;
    flex: 0 0 250px;
    background-color: red;
    margin: 0.5rem;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 1px 2px 150px rgba(238, 238, 238, 0.01);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

.card > img{
    width: 40%;
    height: auto;
    align-self: center;
    /* align-self is default to stretch */
}
  
.card > p{
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
}