body{
    background-image: url('../img/home-background.png');
}

.filters{
    width: 50%;
    margin: 2rem auto 2rem auto;
}

.form-check-input{
    border-color: white;
    background-color: white;
}

.form-check-input:checked{
    border-color: #507A55;
    background-color: #507a55;
}

.project-name{
    font-weight: 600;
    font-size: 40px;
}

.tagline{
    font-weight: 500;
}

.checkbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem auto 2rem auto;
}

.cards-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 33%;
    height: auto;
    aspect-ratio: 1 / 1;
    flex: 0 0 250px;
    background-color: red;
    margin: 0.5rem;
    border-radius: 10px;
    border: none;
    background: #FFFFFF;
    box-shadow: 5px 5px 2px rgba(81, 123, 86, 0.1);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

.card > img{
    width: 40%;
    height: auto;
    align-self: center;
    /* align-self is default to stretch */
}
  
.card > p{
    text-align: center;
    padding: 0 1rem 0 1rem;
    margin-bottom: 0;
    flex-wrap: wrap;
}