.profile-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.profile-section h1 {
    font-size: 2rem;
    text-align: left;
}


.profile-card {
    width: 300px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.profile-heading {
    padding-bottom: 1rem;
}

.profile-heading img {
    display: block;
    flex-direction: column;
    width: 75px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.profile-heading img:hover {
    transform: scale(1.5);
}

.profile-card h1 {
    font-size: 1.5rem;
    text-align: center;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form {
    margin: 0.5rem;
    text-align: left;
}

.form-input input {
    width: 100%;
    border-radius: 10px;
    border: none;
}

.form-input select {
    border-radius: 5px;
    border: none;
}

.form-input textarea {
    width: 100%;
    border-radius: 10px;
    border: none;
}

.image-container {
    width: 450px;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.submit-button button {
    width: 95%;
    padding: 0.25rem;
    background-color: #507A55;
    margin: 1rem 0;
    border-radius: 10px;
    border: none;
    color: white;
}

.image {
    margin: 5px;
}

.image img {
    width: 200px;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    flex: 0 0 250px;
    border-radius: 10px;
    border: 2px solid #507A55;
}

.gallery-heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.gallery-heading button {
    margin-left: 2rem;
    background: none;
    border: 2px solid #507A55;
    border-radius: 30px;
    color: #507A55;
    padding-right: 1rem;
    padding-left: 1rem;
}

