h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:teal;
    text-align: center;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(136, 122, 109);
    font-size: 20px;
}